html body{
    margin:0;
    width:100vh;
    font-family: Arial, Helvetica, sans-serif;
}

 /*$backGround: rgb(176, 241, 250);*/
 $display: grid;
 /*$articleBackGround:pink;*/
$backgroundWhite: rgba(255, 255, 255, 0.3);
 
main {
   /* background: $backGround;*/
    display:$display;
    grid-template-columns:1fr 2fr;
    grid-template-raws:1fr 1fr;
}

.accueil{
  margin-top:120px;
  padding-top: 400px;
  display: $display;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-raw-start: 1;
  grid-raw-end: 2;
  background-image: url("https://sportsante13.fr/wp-content/uploads/2019/10/judo-4454836_1280-1170x550.jpg");
  background-position: center;
  background-repeat: no-repeat;

        span,h1{
            position:absolute;
            padding-left:50px;
            margin-top:-310px;
            color:white;
        }
        span{
            margin-top:-200px;
        }  

        .btn{
            position:absolute;
            width:200px;
            padding:auto;
            margin-left:50px;
            margin-top:-100px;                 
        }        
}

aside{
    background:rgb(71, 120, 245);
    margin-top:10px;
    padding-top:20px; 
    text-align:center;  
       
}
     
.contact{
    
    padding:2rem;
    margin-top:40px;
    margin-left:40px;
    background-color: $backgroundWhite;
    height:560px;
    width:80%;
    border-radius:20px;
    text-align:center;
    border-left:1px solid  $backgroundWhite;
    border-top:1px solid  $backgroundWhite;
    box-shadow:20px 20px 40px -6px rgba(0,0,0,.2);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter:blur(10px);
    }
    .title,h3{
            margin-top:5px;
            color:white;
            opacity:.9;
            text-shadow:2px 2px 4px rgba(0,0,0,.2);
            
            }
    form { 
        position:relative;
        }
    form input {
        margin:10px;
    
        background: transparent;
        border:none;
        border-left:1px solid $backgroundWhite;
        border-top:1px solid $backgroundWhite;
        padding:0.5rem;
        width:200px;
        border-radius:50px;
        backdrop-filter:blur(5px);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter:blur(5px);
        box-shadow: 4px 4px 60px rgba(0,0,0,.2);
        color:white;
        text-shadow:2px 2px 4px rgba(0,0,0,.2);
        cursor:pointer;
        &:hover {
          background-color: rgba(255,255,255,.3);  }              
               }
        
    ::placeholder{
        color:white;
      }
         
    textarea{
        margin-top:5px;
        margin-bottom:30px;
        width:200px;
        background: transparent;
        border:none;
        border-left:1px solid $backgroundWhite;
        border-top:1px solid $backgroundWhite;
        padding:0.8rem;
        width:200px;
        border-radius:10px;
        backdrop-filter:blur(5px);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter:blur(5px);
        box-shadow: 4px 4px 60px rgba(0,0,0,.2);
        color:white;
        text-shadow:2px 2px 4px rgba(0,0,0,.2);
            &:hover {
                 background-color: rgba(255,255,255,.3); 
                }
           
                }
    .container .contact form a{
        
        margin-top:30px;
        margin-bottom:20px;
        background: transparent;
        border:none;
        border-left:1px solid $backgroundWhite;
        border-top:1px solid $backgroundWhite;
        padding:1.5rem;
        text-transform: uppercase;
        border-radius:20px;
        backdrop-filter:blur(5px);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter:blur(5px);
        box-shadow: 4px 4px 60px rgba(0,0,0,.2);
        color:white;
        text-shadow:2px 2px 4px rgba(0,0,0,.2);
        cursor:pointer;
              
        &:hover {
        background-color: #01fc4066;
        text-decoration:none; 
        }              
     }
        
     .drop{
       background:$backgroundWhite;
       backdrop-filter:blur(10px);
       -webkit-backdrop-filter: blur(10px);
       -moz-backdrop-filter:blur(10px);  
        position:absolute;
        border-left:1px solid $backgroundWhite;
        border-top:1px solid $backgroundWhite;
        border-radius:10px;
        box-shadow: 10px 10px 60px -8px rgba(0,0,0,.2);
         }   
    .drop-1{
        height:80px;
        width:80px;
        top:-20px;
        left:-40px;
        z-index:-1;
        }
     .drop-2{
        height:80px;
        width:80px;
        bottom:-30px;
        right:-20px;
        z-index:-1;
        }
    .drop-3{
        height:100px;
        width:100px;
        bottom:250px;
        right:-50px;
        z-index:-1;
        }   
     .drop-4{
        height:90px;
        width:90px;
        top:-40px;
        right:-50px;
     
        }
     .drop-5{
        height:80px;
        width:80px;
        bottom:170px;
        left:-30px;
        z-index:-1;
        } 
    .adresse{
        margin-top:50px;
        }




article{
            /*background: $articleBackGround;*/
            margin-top:10px;
            padding-top:20px;  
    
            h2 {
                    text-transform: uppercase ;
                    text-align: center;
                    text-decoration: underline;
                    margin: 10px 0;
                    padding-bottom: 20px;     
                }
            .carte {
                     position:relative;
                     box-sizing:border-box;
                     max-width :1300px;
                     width:90%;
                     height:auto;
                     display:grid;
                     grid-template-columns:200px 200px 200px;
                     grid-template-raws:250px 250px 250px;
                     justify-content:space-around;
                     grid-gap:30px;
                     margin-left:50px;
                     margin-bottom:30px;
                     cursor:pointer;
                    }
            
                          
                 .card{
                     -moz-box-shadow: 9px 10px 7px 2px rgba(107,104,104,0.35);
                     -webkit-box-shadow: 9px 10px 7px 2px rgba(107,104,104,0.35);
                     -moz-box-shadow: 9px 10px 7px 2px rgba(107,104,104,0.35);
                     cursor:pointer;
                     &:hover{
                         transform:scale(1.1);
                         transition: .1s all;
                            }
                       }  
    
                .card_title{
                    display:flex;
                    justify-content: center;
                    font-weight:bold;
                    background: #fafafa;
                    text-transform:uppercase;
                    }
        
                .card__content{
                     padding:15px;
                    background: #fafafa;
                    text-align: justify;   
                  }    
                } 
                table{  
                        justify-items: center;
                         width:90%;
                         border-collapse:collapse;
                         margin:50px;
                         margin-bottom: 2px;
                         border:1px solid black;
                    }
                thead tr{
                        text-align:center;
                        background-color:#d4d4d4bb;
                         }
                tbody th{
                       font-weight:bold;
                         }

                th,td{
                        text-align:center;
                     }
                tbody tr,td,th{
                     border:1px solid #b3afaf;
                        }
                tbody tr:nth-child(even){
                     background-color: #f1f0f0;
                          }
                tbody tr:last-of-type{
                     border-bottom:#d4d4d4bb;
                         }
                article .event{
                     text-align:justify;
                     font-weight:bold;
                     margin:5px;
                     background: red;
                     padding-left:10px;
                     color:white;
                     }
    
     
     
         
                 
            
                  
 
                  
   
           
